@import "../../styles/colors.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.home {
  //&__flex-container {
  //  height: 100%;
  //  display: flex;
  // flex-direction: row;
  //  flex-wrap: wrap;
  //  justify-content: center;
  //  align-items: stretch;
  //}
}

.intro-title {
  position: absolute;
  font-family: Starwars;
  width: 2.6em;
  left: 50%;
  top: 25%;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  @include sw-title-style;
  opacity: 0;
  animation: logo 5s ease-out .5s;
  sub {
    display: block;
    font-size: 0.3em;
    letter-spacing: 0;
    line-height: 0.8em;
  }
  z-index: 5;
}

@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

.titles {
//background-color: gray;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  position: absolute;
  //width: 18em;
  width: 100%;
  //height: 50em;
  //height: 180%;
  height: 150vw;
  bottom: 0;
  //left: 50%;
  //margin-left: -9em;
  margin-left: 0;
  //font-size: 400%;
  font-size: 5vw;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  &:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
  }
  &__content {
    position: absolute;
    color: $app_yellow_1;
    top: 100%;
    animation: scroll 100s linear 4s infinite;
  }
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}
